{% extends "base.html" %}
{% load static %}

{% block head%}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static '' %}"
/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>My Subjects</h1>
</section>

<section class="card-container">
  {% for note in notes %}
    <div class="card">
      {% comment %} <a href="{% url 'cat-detail' cat.id %}">
        <div class="card-content">
          <div class="card_image">
            <img 
              src="{% static 'images/sk8r-boi-cat.svg' %}" 
              alt="A skater boy cat"
            >
            </div>
            <h2 class="card-title">{{ cat.name }}</h2>
            {% if cat.age > 0 %}
              <p>A {{ cat.age }} year old {{ cat.breed }}</p>
            {% else %}
              <p>A {{ cat.breed }} kitten.</p>
            {% endif %}
            <p><small>{{ cat.description }}</small></p>
        </div>
      </a> {% endcomment %}
    </div>
  {% endfor %}
</section>
{% endblock %}