{% extends "base.html" %}
{% load static %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/notes/index.css' %}">
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>{{ subject }}</h1>
</section>

<section class="card-container">
  {% if notes%}
    {% for note in notes %}
      <a href="{% url 'note-detail' subject note.id %}">
        <div class="card">
          <h2 class="note-title">{{ note.title }}</h2>
          <h2 class="note-date">{{ note.date }}</h2>
          <div class="note-summary">{{ note.summary }}</div>
        </div>
      </a>
    {% endfor %}
  {% else %}
      <div>No Notes avaiable, Return to 'my subjects' to create a new note</div>
  {% endif %}
</section>
{% endblock %}