.note-container{
  border: var(--card-border);
  border-bottom: none;
  margin: 8px 0;
}
.note-container > *{
  padding: 8px;
}

div > *{
  margin: 0;
}

.page-header{
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: solid 2px black;
}

div.edit-delete > a{
  text-align: center;
  font-weight: 600;
  color: var(--button-hover-color);
  background-color: var(--main);
  margin: 0px 1px;
  padding: 4px;
  border-radius: 8px;
  i{  
    font-size: 1em;
  }
}

.note-details{
  padding: 0;
}

.note-details > *{  
  padding: 4px;
  border-bottom: solid 2px black;
}

.note-body{
  padding: 0;
  display: flex;
  height: 50vh;
}

.note-body > *{  
  padding: 8px;
}

.content-body, .note-bottom, .key-body{
  display: flex;
  flex-direction: column;
  div{    
    overflow-y: auto;
  }
}

.key-body{
  width: 30%;
  border-right: solid 2px red ;
}

.content-body{  
  width: 70%;
}

li.key{
  background-color: var(--hightlight);
  padding: 2px;
  margin: 4px 0;
}

.note-text{
  font-size: var(--font-reg);  
}

.note-bottom{
  height: 20vh;
}

.user-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: var(--font-l);
  font-weight: 600;
  padding: 4px;
  margin-bottom: 8px;
}

.user-buttons > a{  
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--main);
  padding: 4px 8px;
  border-radius: 8px;  
  i{  
    font-size: 1em;
  }
}