{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link
    id="favicon" 
    rel="icon" 
    href="{% static "images/noted-favi.png" %}" 
    type="image/png"
    sizes="32x32">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand+SC&family=Shadows+Into+Light&family=Short+Stack&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/2188847cca.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

  {% if THEME == "pink" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/pink.css' %}">      
  {% elif THEME == "yellow" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/yellow.css' %}">           
  {% elif THEME == "mint" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/mint.css' %}">   
  {% elif THEME == "lavendar" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/lavendar.css' %}">     
  {% endif%}

  {% if FONT == "2" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/AD.css' %}">      
  {% elif FONT == "3" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/SIL.css' %}">     
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/AD.css' %}">      
  {% elif FONT == "4" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/PH.css' %}">     
  {% endif%}
  
  <title>Noted</title>
  {% block head %}
  {% endblock %}
  
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="{% url "home" %}">    
        <img class="logo" src="{% static 'images/noted-favi.png' %}" alt="Noted Logo">
        <div class="logo">Noted</div>
      </a>
    </div>
    <nav>
      <ul>
        {% if  user.is_authenticated %}
          <li><a href="{% url 'view-theme' %}"><i class="fa-solid fa-palette"></i></a></li>
          <li><a href="{% url 'subjects' %}" >My Subjects</a></li>
          <li><a href="{% url 'logout' %}" >Log out</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}" >Sign Up</a></li>
        {% endif %} 
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>