{% extends 'base.html' %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% block content %}

<h1>Welcome to Noted</h1>
<p class="page-content">
  Inspired by the Cornell Notes System, Noted is a place for you to track your notes notes in an organized manner as you continue your path through education.
  Sign up or Login to have access to your Notes today.
  <div>    
    <a href="/">Sign in</a>
    <a href="/">Login</a>
  </div>
</p>

{% endblock %}