{% extends 'base.html' %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% block content %}

<h1>Welcome to Noted</h1>
<p class="page-content">
  Inspired by the Cornell Notes System, Noted is a place for you to track your notes in an organized manner as you continue your path through education.
  Sign up or Login to have access to your Notes today.
  <div>    
    <a href="/">Sign in</a>
  </div>
</p>
{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}
{% endblock %}