{% extends "base.html" %}
{% load static %}

{% block head%}
<link 
  rel="stylesheet"
  type="text/css"
  href=""
/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>My Subjects</h1>  
  <a href="{% url 'note-create' %}">New Note</a>
</section>

<section class="card-container">
  {% if subjects %}
    {% for subject in subjects %}
      <div class="card">
        <a href="{% url 'note-index' subject.subject %}">
          <div class="card-content">
            <h2 class="card-subject">
              {{ subject.subject }}
              <div class="edit-delete">
                <a href="">✏️</a>
                <a href="">🗑️</a>
              </div>
            </h2>
        </a>
      </div>
    {% endfor %}
  {% else %}
      <div>No Subjects available</div>
  {% endif %}
</section>
{% endblock %}