html {
  box-sizing: border-box;  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Short Stack";
  min-height: 100vh;
  --main: rgba(104, 197, 248, .9);
  --hightlight: rgba(104, 197, 248, .5);
  --button-hover-color: rgb(16, 56, 158);
  --text-color: rgb(17, 20, 17);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --new: rgb(255, 220, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);
  --card-border: solid 2px black;
  --card-box-shadow: 5px 5px 6px -1px #AAA;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}

/* 
future feature
.pink{
  --main: rgba(255, 175, 223, 0.9);
  --hightlight: rgba(255, 175, 223, .5);
  --button-hover-color: rgb(158, 16, 87);
}

.yellow{
  --main: rgba(250, 242, 201, 0.9);
  --hightlight: rgba(250, 242, 201, .5);
  --button-hover-color: rgb(162, 114, 0);
}

.mint{
  --main: rgba(191, 248, 183, 0.9);
  --hightlight: rgba(250, 242, 201, .5);
  --button-hover-color: rgb(89, 151, 42);
}

.sky{  
  --main: rgba(104, 197, 248, .9);
  --hightlight: rgba(104, 197, 248, .5);
  --button-hover-color: rgb(16, 56, 158);
}

.lavendar{  
  --main: rgba(198, 183, 248, 0.9);
  --hightlight: rgba(2198, 183, 248, .5);
  --button-hover-color: rgb(124, 42, 151);
}

.grey{  
  --main: rgba(187, 187, 187, 0.9);
  --hightlight: rgba(187, 187, 187 .5);
  --button-hover-color: rgb(78, 78, 78);
} */

header {
  width: 100%;
  background: var(--main);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-l);  
}

a{
  text-decoration: none;
  color: var(--text-color);
}

i{  
  color: var(--button-hover-color);
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23989898' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  min-height: 85vh;
}

h2 {
  font-size: var(--font-xl);
}

nav a {
  padding: 4px 8px;
  border-radius: 4px;
}

nav a:visited {
  color: var(--text-color);
  font-weight: 600;
}

nav a:hover {
  color: var(--main);
  background-color: var(--button-hover-color);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4px 0px;
}

.header-logo-container {
  display: flex;
  margin: 0 10px ; 
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
}

img{
  height: 48px;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 8px;
  border-style: none;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-left: 10px;
  color: white;
  box-shadow: var(--card-box-shadow);
}

.btn:hover {
  background-color: var(--button-bg-hover);
  color: var(--secondary)
}

.submit {
  background-color: var(--submit);
}

.new{
  color: chocolate;
  background-color: var(--new);
}

.secondary {
  background-color: var(--secondary);
}

.danger {
  background-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-content {
  font-size: var(--font-reg);
}

@media only screen and (max-width: 1024px) {
  main {
    width: 100vw;
  }

  nav{
    margin: 10px 0;
  }

  .page-header h1 {
    font-size: var(--font-xl);
    text-align: center;
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }
}