.page-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 6px 0;
  border: none;
  h1{
    padding: 4px;
    background-color: var(--hightlight);
  }
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.note-container{
  margin: 0;
}

h2{
  display: flex;
  width: 100%;

  input{
    flex: 1;  
    margin: 0 4px;
  }
}
textarea{ 
  width: 100%;
  height: 100%;
}

.signup{
  background-color: white;
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  font-size: var(--font-reg);
  padding: 8px;   
}

tr {
  padding: 4px;
  input{
    width: 100%;
  }
}
