main{
  display: flex;
  justify-content: center;
  align-items: center;
}

main > section {  
  width: 90%;
  max-width: 550px;
  height: 40vh;
  max-height: 350px;
  padding: 10px 8px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
}

h1{
  width: 100%;
  font-size: var(--font-xl);
  margin: 0;
  padding:4px 0;
  border-bottom: solid 2px red;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login > p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}

.login label {
  font-size: var(--font-reg);
  margin-right: 4px;
  margin-bottom: 6px;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
  width: 75%
}