.page-header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  color: var(--nav-bg);
  background-color: var(--link-hover-color);
  margin: 8px 0;
  padding: 8px;
  border-radius: 16px;
  box-shadow: var(--card-box-shadow);
}

.card:hover{   
  background-color: var(--nav-bg);
  a{    
    color: var(--link-hover-color);   
  }
}

.card-subject{
  display: flex;
  justify-content: center;
  margin: 0px;
}

a {
  color: var(--nav-bg);
}