.page-header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  color: var(--main);
  background-color: var(--link-hover-color);
  margin: 16px 0;
  padding: 8px;
  border-radius: 16px;
  box-shadow: var(--card-box-shadow);
  width: 90%;
}

.card:hover{   
  background-color: var(--main);
  a{    
    color: var(--link-hover-color);   
  }
}

.card-subject{
  display: flex;
  justify-content: center;
  margin: 0px;
}

a {
  color: var(--main);
}