.page-header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-header > a{
  font-size: var(--font-l);
  font-weight: 600;
  color: var(--link-hover-color);
  background-color: var(--nav-bg);
  margin: 8px 16px;
  padding: 8px;
  border-radius: 8px;
}

.card{
  color: var(--nav-bg);
  background-color: var(--link-hover-color);
  margin: 8px 0;
  padding: 8px;
  border-radius: 16px;
}

.card:hover, .card > a:hover{  
  color: var(--link-hover-color);
  background-color: var(--nav-bg);
}

.card-subject{
  display: flex;
  justify-content: center;
  margin: 8px;
}

a {
  color: var(--nav-bg);
}